<!DOCTYPE html>
<html>
<head>
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Daftar Buku</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Judul</th>
            <th>Penulis</th>
            <th>Tahun</th>
            <th>Aksi</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>
                <a href="/edit/{{ book[0] }}">Edit</a>
                <a href="/delete/{{ book[0] }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <h2>Tambah Buku</h2>
    <form action="/add" method="POST">
        <label>Judul:</label>
        <input type="text" name="title"><br>
        <label>Penulis:</label>
        <input type="text" name="author"><br>
        <label>Tahun:</label>
        <input type="number" name="year"><br>
        <button type="submit">Tambah</button>
    </form>
</body>
</html>
